# ignore all
*
!*/

# config files
!/config/burnt_basic.json
!/config/DistantHorizons.toml
!/config/kiwi-client.yaml
!/config/structurify.json
!/config/tectonic.json
!/config/aeronautics-server.toml
!/config/iframestweakerneo-common.toml
!/config/parcool-server.toml
!/config/bettercombat/*
!/config/EndRemastered-NeoForge/*
!/config/analogleverdrag-client.toml
!/config/corpse-server.toml
!/config/sgjourney*
!/config/jade/*
!/config/create_submarine-common.toml

# oh god
!/config/submarine_hull.json

# kubejs
!/kubejs/**

# mods
!/mods/*
!/servermods/*

# other
!/.gitignore
!/options.txt
!/TrollPhyslogo.png